*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,body{
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    font-family: 'PT Sans', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: 22% 78% ; /* col1, col2*/
}

.sidebar{
    background-color: aqua;
    height: 100vh;
    color: white;
}

.logo-text{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    fill: white; /*For svg*/
}

.logo-text h1{
    margin-left: 15px;
    font-size: 26px;

    display: flex;
    flex-direction: row;
} 
.icon-text{
    display:flex;
    justify-content: center;
    align-items: center;
  

    color: white;
    fill: white; 
    margin: 10px  0px; 
    padding-right: 50px;

}
.icon-text p{
    margin-left: 50px;
    font-size: 17px;
    font-weight: bolder;     
}

.icon-text > p >a{
    color: white;
    text-decoration: none;        
}

.list-items2{
    margin-top: 50px;
}



/***********************RIGHT SECTION*******************/

.main{
    background-color: brown;
    height: 100vh;
}