*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


    --header-black: #212121;
    --sidebar-red: #16a34a;
    --sidebar-font: #fff;
    --main-color: #d1d5db;
}

/* Sidebar*/

body{
    font-family:Georgia,serif;

    height: 100vh;
    width: 100vw;
}

.grid-container{
   
    display: grid;
    grid-template-columns: 18% 78% ; /* col1, col2*/

    
}

.sidebar{
    background-color: var(--sidebar-red);
    height: 100vh;
    

  
    color: var(--sidebar-font);
    fill: var(--sidebar-font);
}

.sidebar-menu{
    display:grid;
    gap: .5rem;
    margin-left: 4rem;
}
.sidebar-hero{
    display:flex; /* Puts letter on right of image*/
    justify-content: start;
    align-items: center;
    margin: 1.5rem 0 4rem 2rem; /* top | right | bottom | left */
}

.sidebar-hero > svg{
    width: 90px;
    height: 90px;
}

.image-text{
    display: flex;
    justify-content: start;
    align-items: center;
} 
.image-text>svg{
    width: 40px;
    height: 40px;
}

.image-text >p{
    font-size: 20px;
    font-weight: bold;  

    padding-left: 2rem;    
}

.image-text > p a{
    text-decoration: none; /*Removed hyperlink underline*/
    color:  #fff;
}
.image-text > p a:visited{
    text-decoration: none; /*Removed hyperlink underline*/
    color:  #fff;
}


.image-text > p:hover{
   transform: scale(1.05);
   
   
}


.sidebar-menu2{
    margin-top: 5rem;
    margin-left: 4rem;

    display:grid;
    gap: .5rem;
}


/* Main*/

.main{
    margin: 0;
    padding: 0;

    background-color: #fff;
    height:100vh;

    display: grid;
    grid-template-rows: 25% 75%;
}

.header{
    background-color: #f0fdf4;
    height:100vh;

    display:flex;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-evenly;

    padding: 2rem 0;
}
.nav > svg{
    width: 20px;
    height: 20px;
}

.nav > input{
    width: 27rem;
    border-radius: .5rem;

    margin-right: 4rem;

}

.search-field{
    background-color: #f3f4f6;
    border: 2px  #f3f4f6;
    box-shadow: 2px 2px 2px #a8a29e;

   
}

.nav>img, .left > img{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
.left{
   display: flex;

   justify-content: center;
   align-items: center;

   margin: 1.5rem 0 1.5rem 2rem; /* top | right | bottom | left */
}

.left >img{
    width: 4rem;
    height: 4rem;
}
.left-text{
    margin-left: 1rem;
}
.left-text >h4{
    width: 20rem;

    font-size: larger;
}
.btns{
    display: flex;
    margin-left: 12rem;
}

.btns > button{
    display: flex;
    margin: 1rem;

    
    border: 2px  #ecfccb;
}
.btns > button:hover{
    transform: scale(1.05);
}

button{
    padding: 0px;
    background-color:#0f766e;
    color: var(--sidebar-font);
    font-weight: bolder;
    border-radius: 20px;
   padding: .6rem 1.5rem;
    text-align: center;

}

.content{
    background-color: rgb(243, 241, 241);
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 100%;

    margin-left: 2rem;
    padding-top: 2rem;
}

.cards-left{
    background-color: rgb(189, 170, 170);
}

.cards{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.icons > svg{
    width: 20px;
    height: 20px;
}
